doctype html
html

  head
    title My Night!
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    script(src="/css/bootstrap.min.js")
    link(rel='stylesheet' type = 'text/css' href='/css/main.css')

  body
    if(!user)
      a#googleBtn.pull-right(href='/auth/google/get') Login with Google
    if(user)
      p#googleBtn.pull-right="Logged in as " + user.name
    h1#Logo My Night
