doctype html
html

  head
    title My Night!
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    script(src="/css/bootstrap.min.js")
    link(rel='stylesheet' type = 'text/css' href='/css/main.css')

  body
    a#googleBtn.pull-right(href = '#') Login with Google
    h1#Logo My Night
