@font-face {
  font-family : Aspire;
  src : url('Aspire.ttf');
}

html{
-webkit-text-size-adjust: 100%;
     -ms-text-size-adjust: 100%;
}

body{
  background-color: #1d042a;
}

#Logo{
  font-family : Aspire;
  color : #ead8f3;
  font-size : 550%;
  text-align: center;
  display : block;
}

#googleBtn{
  font-family : Aspire;
  text-decoration: none;
  font-size : 200%;
  display : inline;
  color : #ead8f3;
  margin-right : 10px;
}

#googleBtn:hover {
  color : #D1BFDA;
}
